# This file is managed by ansible, don't make changes here - they will be overwritten.

[Unit]
Description=prometheus
After=network.target

[Service]
EnvironmentFile=-/etc/environment
ExecStartPre=-/bin/sh -c "/snap/bin/docker rm -f prometheus > /dev/null 2>&1"
ExecStart=/snap/bin/docker run --rm --name=prometheus \
  -v "{{ prometheus_conf_dir }}:/etc/prometheus:Z" \
  -v "{{ prometheus_data_dir }}:/prometheus:Z" \
  --net=host \
  --user={{ prometheus_user_id }} \
  --cpu-period={{ prometheus_container_cpu_period }} \
  --cpu-quota={{ prometheus_container_cpu_period * prometheus_container_cpu_cores }} \
  --memory={{ prometheus_container_memory }}GB \
  --memory-swap={{ prometheus_container_memory * 2 }}GB \
  {{ prometheus_container_image }} \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/prometheus \
  --web.external-url=http://{{ ansible_fqdn }}:{{ prometheus_port }}/ \
  --web.listen-address={{ grafana_server_addr }}:{{ prometheus_port }}
ExecStop=/snap/bin/docker stop prometheus
KillMode=none
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
