# This file is managed by ansible, don't make changes here - they will be overwritten.
[Unit]
Description=grafana-server
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=-/etc/environment
ExecStartPre=-/bin/sh -c "/usr/bin/docker stop grafana-server > /dev/null 2>&1"
ExecStartPre=-/bin/sh -c "/usr/bin/docker rm grafana-server > /dev/null 2>&1"
ExecStart=/usr/bin/docker run --rm --name=grafana-server \
  -v "{{ grafana_conf_dir }}:/etc/grafana:Z" \
  -v "{{ grafana_data_dir }}:/var/lib/grafana:Z" \
  --net=host \
  --cpu-period={{ grafana_container_cpu_period }} \
  --cpu-quota={{ grafana_container_cpu_period * grafana_container_cpu_cores }} \
  --memory={{ grafana_container_memory }}GB \
  --memory-swap={{ grafana_container_memory * 2 }}GB \
  -e GF_INSTALL_PLUGINS={{ grafana_plugins|join(',') }} \
  {{ grafana_container_image }}
ExecStop=-/usr/bin/docker stop grafana-server
KillMode=none
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
