# This file is managed by ansible, don't make changes here - they will be overwritten.
[Unit]
Description=Node Exporter
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=-/etc/environment
ExecStartPre=-/bin/sh -c "/usr/bin/docker rm -f node-exporter > /dev/null 2>&1"
ExecStart=/usr/bin/docker run --rm --name=node-exporter \
  --privileged \
  -v /proc:/host/proc:ro -v /sys:/host/sys:ro \
  --net=host \
  {{ node_exporter_container_image }} \
  --path.procfs=/host/proc \
  --path.sysfs=/host/sys \
  --no-collector.timex \
  --web.listen-address=:{{ node_exporter_port }}
ExecStop=-/usr/bin/docker stop node-exporter
KillMode=none
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
