[Unit]
Description=RBD Target API Service
{% if container_binary == 'docker' %}
After=docker.service
Requires=docker.service
{% else %}
After=network.target
{% endif %}

[Service]
EnvironmentFile=-/etc/environment
{% if container_binary == 'podman' %}
ExecStartPre=-/usr/bin/rm -f /%t/%n-pid /%t/%n-cid
ExecStartPre=-/snap/bin/docker rm --storage rbd-target-api
{% else %}
ExecStartPre=-/snap/bin/docker stop rbd-target-api
{% endif %}
ExecStartPre=-/snap/bin/docker rm rbd-target-api
ExecStart=/snap/bin/docker run --rm \
{% if container_binary == 'podman' %}
  -d --log-driver journald --conmon-pidfile /%t/%n-pid --cidfile /%t/%n-cid \
{% endif %}
  --memory={{ ceph_rbd_target_api_docker_memory_limit }} \
  --cpus={{ ceph_rbd_target_api_docker_cpu_limit }} \
  -v /etc/localtime:/etc/localtime:ro \
  --privileged \
  --net=host \
  -v /dev:/dev \
  -v /dev/log:/dev/log \
  -v /lib/modules:/lib/modules \
  -v /etc/ceph:/etc/ceph \
  -v /var/log/rbd-target-api:/var/log/rbd-target-api:z \
  -e CLUSTER={{ cluster }} \
  -e CEPH_DAEMON=RBD_TARGET_API \
  -e CONTAINER_IMAGE={{ ceph_docker_registry }}/{{ ceph_docker_image }}:{{ ceph_docker_image_tag }} \
  --name=rbd-target-api \
  {{ ceph_docker_registry }}/{{ ceph_docker_image }}:{{ ceph_docker_image_tag }}
{% if container_binary == 'podman' %}
ExecStop=-/usr/bin/sh -c "/snap/bin/docker rm -f `cat /%t/%n-cid`"
{% else %}
ExecStopPost=-/snap/bin/docker stop rbd-target-api
{% endif %}
KillMode=none
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15
{% if container_binary == 'podman' %}
Type=forking
PIDFile=/%t/%n-pid
{% endif %}

[Install]
WantedBy=multi-user.target
